APP_NAME=KnowledgeHub AI
APP_VERSION=1.0.0
APP_DESCRIPTION=An Intelligent Multi-Source RAG Platform

GROQ_API_KEY=your_groq_api_key_here

MODEL_NAME=llama-3.3-70b-versatile

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

CHROMA_DB_PATH=storage/chroma

DOCUMENT_PATH=storage/documents
