fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

chromadb

sentence-transformers

python-dotenv
pydantic-settings
python-multipart

pypdf
pdf2image
pytesseract
Pillow
beautifulsoup4
requests
playwright

aiofiles
httpx
tiktoken

markdown
pytest